html, body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(337deg,#9cba8f,#d3b4b4,#979dbf,#bec26f);
  background-size: 420% 420%;
  animation: body 8s ease infinite;
}
@keyframes body {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 0.5rem;
}

h2{
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h3{
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.podcast-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.image-container {
  flex: 1;
  margin-right: 20px;
}

.image-container img {
  max-width: 360px;
  height: auto;
  border-radius: 16px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.buttons-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}



.buttons-container button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(53, 53, 53);
  font-weight: bold;
}

.buttons-container img {
  width: 22px;
  height: 22px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.content-container {
  text-align: center;
}

.episodes-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode-card {
  background-color: #f5f5f5e8;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 25px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.enlaceEpisodio {
  text-decoration: none;
  color: rgb(94, 106, 249);
  font-size: 1.3rem;
}

@media (prefers-color-scheme: dark) {
  .buttons-container button {
    background-color: #444;
    color: #fff;
  }
  .episode-card {
    background-color: #444;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .podcast-container {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    margin: 0;
  }

  .content-container {
    margin: 0;
  }

  .buttons-container {
    flex-direction: column;
  }

  #root {
    margin-top: 100px;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .image-container img {
    max-width: 300px;
  }

  .main-container {
    margin-top: 0px;
  }
}