html, body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  /* background: linear-gradient(337deg,#2d2d2d,#121212,#0c0c0c,#000000); */
  background: #1A1A1C;
  background-size: 420% 420%;
  animation: body 8s ease infinite;
}
@keyframes body {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 0.5rem;
  font-size: 3.2em;
  line-height: 1.1;
  /* background: linear-gradient(to right, #5a1d9c, #8f29c2, #FF60DC); */
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

h2{
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h3{
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.podcast-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.image-container {
  flex: 1;
  margin-right: 20px;
}

.image-container img {
  max-width: 360px;
  height: auto;
  border-radius: 16px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.buttons-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}



.buttons-container button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: #7621bb16;
  border: 1px solid #6a27a1;
}

.buttons-container img {
  width: 22px;
  height: 22px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.content-container {
  text-align: center;
}

.episodes-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode-card {
  background-color: #212121;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 45px;
  width: 100%;
  background: linear-gradient(to right,  #ad09ff10, #7f30a60b);
  border: 1px solid #6a27a1;
}

.enlaceEpisodio {
  text-decoration: none;
  color: rgb(94, 106, 249);
  font-size: 1.3rem;
}


@media (max-width: 768px) {
  .podcast-container {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    margin: 0;
  }

  .content-container {
    margin: 0;
  }

  .buttons-container {
    flex-direction: column;
  }

  #root {
    margin-top: 100px;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .image-container img {
    max-width: 300px;
  }

  .main-container {
    margin-top: 0px;
  }
}

.episode-card {
  position: relative;
}

.icons-container {
  position:relative;
  padding: 10px;
  bottom: 0;

}

.icon {
  width: 28px;
  height: 28px;
  margin-left: 5px;
  margin-right: 5px;
}

.tituloEpisodios {
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 0.1rem;
}